<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apac.rpcdata">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.LoginAcitivy">

        </activity>
        <activity android:name=".ui.RedPacketActivity" />
        <activity android:name=".ui.FaRedPageActivity" />
        <activity android:name=".ui.Datails" />
        <activity android:name=".ui.PayMentActivity" />
        <activity android:name=".ui.TransferActivity" />
        <activity android:name=".ui.BalanceActivity" />
        <activity android:name=".ui.MyActivity" />
        <activity android:name=".ui.RegisterAcitivy" />
        <activity
            android:name=".ui.pay.ScanUI"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.pay.ScanResultUI"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.receiptcode.ReceiptCodeUI"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.transfer.TransferUI"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.balancerecord.BalanceRecordUI"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.invitefriend.InviteFriendUI"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.transfer.MyBankCard" />
        <activity android:name=".ui.me.BankCardAdd" />
        <activity android:name=".ui.GuidePage" />
        <activity android:name=".ui.me.AmentActivity" />
        <activity android:name=".ui.me.AddressActivity" />
        <activity android:name=".ui.me.RestPayPwdActivity" />
        <activity android:name=".ui.me.AmentSomeActivity" />
        <activity android:name=".ui.me.PayRsitPwdActivity" />
        <activity android:name=".ui.me.ForgetActivity" />
        <activity android:name=".ui.me.AddConsing" />
        <activity android:name=".ui.me.CpmpileAdd" />
        <activity android:name=".ui.me.Welcom">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>